.footer{
    background-color:cornsilk;
    height:100px;
    width: 90%;  
}
.wrap_footer{
    width: 90%;
    margin: auto;
}
a{
    color:#000;

    text-decoration: none;
}

 
.foot_bot{ 
}
.foot_bot ul li{ 
    display:inline-block;
    list-style-type:none;

}
.foot_com{  
    display:block;    
    font-size:13px;
    line-height:50px;
    color:#000;
    font-family:"맑은 고딕","Malgun Gothic"; 
}
 
.com_info{      
    display: block;  
    font-size: 12px;
    line-height: 1.5;
    font-family: "돋움",Dotum,"맑은 고딕","Malgun Gothic","Apple Gothic",sans-serif;
    letter-spacing: 1px;
    margin-left: 40px;
}